body {
    background-color: rgb(188, 224, 255);
    font-family: sans-serif;
}

main {
    margin: 5%;
    background-color: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 1px 1px 8px black;
}

footer {
    position: fixed;
    text-align: center;
    width: 100%;
    padding-bottom: 20px;
    bottom: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

li {
    margin-top: 10px;
}

strong {
    color: blue;
}